* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --white: #FFFFFF;
  --nav-bar: #F0F2F5;
  --white-cream: #FAFAFA;
  --cream: #DADADA;
  --background: #E1E5E5;
  --blue: #29313D;
  --selected: #036B52;
  --light-green: #2FC18C;
  --header: #023031;
  --grey-black: #000000E5;
  --green-dark: #001813;
  --black: #000000;
  --grey-dark: #00000066;

  font-family: 'Epilogue', sans-serif;
  /* font-family: 'Epilogue', sans-serif;
  font-family: 'Roboto', sans-serif; */
}

header {
  height: 78px;
  width: 100%;
}

.header-user {
  display: flex;
  background: var(--header);
  height: 90px;
}

.user-name {
  display: flex;
  align-items: center;
  /* align-items: flex-end; */
  vertical-align: middle;
  justify-content: left;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  
  background-color: var(--white);
  color: var(--black);
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.header-nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: var(--selected); */
  box-shadow: 0 4px 4px var(--cream);
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 33%;
  height: 70px;
  background: var(--nav-bar);
  box-shadow: 0 4px 4px var(--cream);
}

a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--light-green);
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.nav-item.selected{
  background: var(--selected);
  color: var(--white)
}
