* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --black: #0D114F;
  --white: #FAFAFA;
  --red: #E83F5B;
  --light-blue: #E0ECFF;
  --blue: #3485FF;
  --background: #F6FAFF;
  --overlay: #040911;
  --icons-details: #A5B0C1;
  --text: #9c9c9c;
  --input-bg-color: #fff;
  --input-text-color: #a3a3a3;
  --button-bg-color: #7f8ff4;
  --button-text-color: #fff;
}

body {
  display: flex;
  height: 100vh;
  background-image: url('./img/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
}

.logo {
  padding-top: 50px;
  width: 100px;
}

/* ------- Login screen ------- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uppercase {
  text-transform: uppercase;
}

.form,
.field {
  width: 360px;
  background: #fff;
  color: Var(--input-text-color);
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  font-family: 'Poppins';
  font-weight: 500;
}

.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  transition: filter .2s;
  cursor: pointer;
  filter: brightness(1.2);
}

primary {
  background: var(--button-bg-color);
  color: var(--button-text-color);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 2px;
  padding: 12px 36px;
}

primary:hover {
  background: darken(--button-bg-color, 4%);
}

primary:active {
  background: var(--button-bg-color);
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}

inside {
  margin-left: -96px;
}